<!DOCTYPE html>
<html>
<head>
    <title>Design Principle Detail</title>
</head>
<body>
    <h1>{{ principle['design_principle_name'] }}</h1>
    <p><strong>Research Methodology:</strong> {{ principle['research_methodology'] }}</p>
    <!-- Add more details here -->
<!--    <img src="{{ url_for('static', filename=principle['picture_location']) }}" alt="Picture">-->
    <img src="{{ url_for('static', filename=principle['picture_location']) }}" alt="Picture" style="width: 1200px; height: auto;">

    <!-- Display the full-size image of the design principle -->
</body>
</html>
