<!DOCTYPE html>
<html>
<head>
    <title>Design Principles</title>
    <style>
        /* Define CSS styles for the images */
        .picture {
            width: 200px; /* Adjust the width as needed */
            height: auto; /* Automatically adjust height while maintaining aspect ratio */

        }
    </style>
</head>
<body>
    <h1>Design Principles</h1>
    <table border="1">
        <tr>
            <th>Design Principle Name ENSHAN</th>
            <th>Research Methodology</th>
            <!-- Include other relevant column headings -->
            <th>Picture</th>
        </tr>
        {% for index, row in data.iterrows() %}
        <tr>
            <td>{{ row['design_principle_name'] }}</td>
            <td>{{ row['research_methodology'] }}</td>
            <!-- Include other relevant column values -->
<!--            <td><img src="{{ row['picture_location'] }}" alt="Picture"></td>-->
<!--            <td><img src="/Users/enshanchen/Desktop/pic3.png" alt="Picture"></td>-->
<!--            <td><img src="https://picsum.photos/200" alt="Picture"></td>-->
<!--            <td><img src="/Users/enshanchen/Desktop/Thesis_folder/5_design_principles/static/image/pic3.png" alt="Picture"></td>-->
            <td><img src="{{ url_for('static', filename=row['picture_location']) }}" alt="Picture" class="picture"></td>


        </tr>
        {% endfor %}
    </table>
</body>
</html>
